
<li>


  <h1>Username: <%= @users.Username %> </h1>
    <%= @users.Email %>
    <%= @users.Password %>
    <%= @users.Contact_number %>
    <%= @users.Gender %>
    <%= @users.Birth_date %>




</li>
